.pokemons {
  display: grid;
  grid-template-columns: 1fr;
  list-style: none;
  padding: 0;
  margin: 0;
}

.normal {
  background-color: #a8a77a;
}
.grass {
  background-color: #7ac74c;
}
.fire {
  background-color: #ee8130;
}
.water {
  background-color: #6390f0;
}
.electric {
  background-color: #f7d02c;
}
.ice {
  background-color: #96d9d6;
}
.ground {
  background-color: #e2bf65;
}
.flying {
  background-color: #a98ff3;
}
.poison {
  background-color: #a33ea1;
}
.fighting {
  background-color: #c22e28;
}
.psychic {
  background-color: #f95587;
}
.bug {
  background-color: #a6b91a;
}
.rock {
  background-color: #b6a136;
}
.ghost {
  background-color: #735797;
}
.dragon {
  background-color: #6f35fc;
}
.dark {
  background-color: #705746;
}
.steel {
  background-color: #b7b7ce;
}
.fairy {
  background-color: #d685ad;
}

.pokemon {
  display: flex;
  flex-direction: column;
  margin: 0.5rem;
  padding: 1rem;
  border-radius: 1rem;
  color: white;
}

.pokemon .number {
  color: #275a4e;
  opacity: 0.3;
  text-align: right;
  font-size: 0.825rem;
}

.pokemon .name {
  text-transform: capitalize;
  color: white;
  margin-bottom: 0.25rem;
}

.pokemon .detail {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.pokemon .detail .types {
  padding: 0;
  margin: 0;
  list-style: none;
  align-items: center;
}

.pokemon .detail .types .type {
  text-align: center;
  filter: brightness(1.1);
  color: white;
  padding: 0.25rem 0.5rem;
  margin: 0.25rem 0;
  font-size: 0.625rem;
  border-radius: 1rem;
}

.pokemon .detail img {
  max-width: 100%;
  height: 70px;
}

.pagination {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.pagination button {
  padding: 0.25rem 0.5rem;
  margin: 0.25rem 0;
  font-size: 0.625rem;
  color: white;
  background-color: #6c79db;
  border: none;
  border-radius: 1rem;
}

@media screen and (min-width: 380px) {
  .pokemons {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 576px) {
  .pokemons {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (min-width: 992px) {
  .pokemons {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.popup {
  width: 90%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 360px;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  border-radius: 1rem;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.popup.hidden {
  opacity: 0;
  transform: translate(-50%, -60%);
  pointer-events: none;
}

.popup-content {
  padding: 0;
  width: 100%;
  max-width: 375px;
  color: white;
  overflow: hidden;
}

.popup-header, .popup-image, .popup-details {
  width: 100%;
  box-sizing: border-box;
}

.popup-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: var(--type-color);
}

.popup-header h2 {
  margin: 0;
  color: white;
}

.popup-header .number {
  font-size: 1.5rem;
  color: white;
  opacity: 0.7;
}

.popup-image {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: var(--type-color);
}

.popup-image .types-container {
  flex: 1;
}

.popup-image .types {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.popup-image .types .type {
  text-align: center;
  filter: brightness(1.1);
  padding: 0.5rem 1rem; /* Aumentado para 2x */
  margin: 0.5rem 0; /* Aumentado para 2x */
  font-size: 1.25rem; /* Aumentado para 2x */
  border-radius: 1rem;
}

.popup-image .types .type.normal {
  background-color: #a8a77a;
}
.popup-image .types .type.fire {
  background-color: #ee8130;
}
.popup-image .types .type.water {
  background-color: #6390f0;
}
.popup-image .types .type.electric {
  background-color: #f7d02c;
}
.popup-image .types .type.grass {
  background-color: #7ac74c;
}
.popup-image .types .type.ice {
  background-color: #96d9d6;
}
.popup-image .types .type.ground {
  background-color: #e2bf65;
}
.popup-image .types .type.flying {
  background-color: #a98ff3;
}
.popup-image .types .type.poison {
  background-color: #a33ea1;
}
.popup-image .types .type.fighting {
  background-color: #c22e28;
}
.popup-image .types .type.psychic {
  background-color: #f95587;
}
.popup-image .types .type.bug {
  background-color: #a6b91a;
}
.popup-image .types .type.rock {
  background-color: #b6a136;
}
.popup-image .types .type.ghost {
  background-color: #735797;
}
.popup-image .types .type.dragon {
  background-color: #6f35fc;
}
.popup-image .types .type.dark {
  background-color: #705746;
}
.popup-image .types .type.steel {
  background-color: #b7b7ce;
}
.popup-image .types .type.fairy {
  background-color: #d685ad;
}

.popup-image img {
  max-width: 40%;
  height: auto;
  transform: scaleX(-1);
}

.popup-details {
  padding: 1rem;
  background-color: #f0f0f0;
  color: black;
}

.popup-details p {
  margin: 0.5rem 0;
}

.base-stats, .base-moves {
  margin-top: 1rem;
}

.base-stats strong, .base-moves strong {
  display: block;
  margin-bottom: 0.5rem;
}

.stat-item, .move-item {
  margin-left: 1rem;
}

.base-stats p, .base-moves p {
  margin: 0.25rem 0;
}

.close {
  position: relative;
  top: 10px;
  left: 10px;
  width: 30px;
  height: 30px;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tabs {
  overflow: hidden;
  background-color: #f1f1f1;
  display: flex;
  justify-content: center;
  border-radius: 1rem;
}

.tab-link {
  background-color: inherit;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: background-color 0.3s;
  flex: 1;
  text-align: center;
}

.tab-link:hover {
  background-color: #ddd;
}

.tab-content {
  display: none;
  padding: 12px 24px;
  border-top: none;
  background-color: dimgray;
  border-radius: 1rem;
}

.tab-content.active {
  display: block;
}
